[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools>=67.0", "setuptools_scm[toml]>=7.1"]

[dependency-groups]
dev = [
  "build",
  "dapperdata",
  "glom",
  "greenlet",
  "mypy",
  "pytest",
  "pytest-asyncio",
  "pytest-cov",
  "pytest-pretty",
  "ruamel.yaml",
  "ruff",
  "toml-sort",
  "uv"
]

[project]
authors = [{"name" = "Robert Hafner"}]
description = "A Python Library, CLI, and support systems to demonstrate the Awesome Template."
dynamic = ["version"]
license = {"file" = "LICENSE"}
name = "library"
readme = {file = "README.md", content-type = "text/markdown"}
requires-python = ">=3.10"
dependencies = [
  "pydantic~=2.0",
  "pydantic-settings",
  "typer"
]

[project.scripts]
library = "library.cli:app"

[tool.coverage.run]
concurrency = ["thread", "greenlet"]
omit = [
  "./library/_version.py",
  "./library/__init__.py",
  "./tests/*"
]

[tool.mypy]
check_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_calls = false
disallow_untyped_defs = true
no_implicit_optional = true
plugins = ["pydantic.mypy"]
strict_optional = true
warn_return_any = true
warn_unused_ignores = true

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"

[tool.ruff]
exclude = [".venv", "./library/_version.py"]
line-length = 120

[tool.setuptools.dynamic]
readme = {file = ["README.md"]}

[tool.setuptools.package-data]
library = ["py.typed"]

[tool.setuptools.packages.find]
exclude = ["tests*", "docs*"]

[tool.setuptools_scm]
fallback_version = "0.0.0-dev"
write_to = "library/_version.py"
